#team-container {
  display: flex;
  gap: 5%;
}

.team {
  background-color: rgba(8, 87, 160, 0.5);
  border-radius: 30px;
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2%;
}

.team img {
  border-radius: 50px;
}

.team h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.team p {
  color: white;
  font-size: medium;
}